body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.salt-create {

}

#salt-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
}

.active {
    
}

.salt-item {
    margin: 1rem;
}

.post-content {

}

.post-user {
    justify-content: right;
}

.uplift-btn {
    padding: 0;
    border: none;
    font-size: 20px;
    color: lightslategrey;
}

.filled-btn {
    color: rgb(92, 185, 243);
}

.tags {

}