body {
    margin: 0;
    padding: 0;
}

header {
    justify-content: center;
    padding: 1rem;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 46px;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 1rem;
    margin-right: 5rem;
    font-family: 'Quicksand', sans-serif;
}

#salt-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin-left: 1rem;
}

#salt-form-container {
    display: none;
}

.salt-item {
    margin: 0.5rem;
    padding: 2rem;
}

.salt-item h3 {
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
}

.salt-item:nth-child(5n) {
    background-color: #B4DFE5;
}

.salt-item:nth-child(5n+1) {
    background-color: #FBE8A6;
}

.salt-item:nth-child(5n+2) {
    background-color: #F4976C;
}

.salt-item:nth-child(5n+3) {
    background-color: #D2FDFF;
}

.salt-item:nth-child(5n+4) {
    background-color: #F4976C;
}

#salt-container .post-content {
    font-size: 18px;
    text-align: justify;
}

.salt-item li {
    list-style-type: none;
    margin: 0;
}

#side-nav {
    display: block;
    padding: 1rem;
    margin: 0;
    background-color: #303C6C;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#side-nav ul {
    padding: 1rem;
}

#side-nav li {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-link {
    display: block;
    text-decoration: none;
    text-align: right;
    font-size: 28px;
    color: white;
}

.nav-link:hover {
    letter-spacing: 1.5px;
    color: #6B7A8F;
}

.nav-link:active {
    letter-spacing: 1.5px;
    color: #6B7A8F;
}

.active {
    /* display: grid; */
}

.uplift-btn {
    padding: 0;
    border: none;
    font-size: 23px;
    color: #E6E9EC;
    background-color: inherit;
    text-shadow: -2px 2px #6B7A8F;
}

.tags:hover {
    letter-spacing: 1.5px;
}