body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
}

.salt-create {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 15% 85%;
    margin-right: 8rem;
    padding-left: 0;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
}

#salt-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

#tag-container {
    grid-column: 1;
    grid-row: 1;
    padding: 1rem;
}

.active {
    
}

.salt-item {
    margin: 1rem;
    padding: 2rem;
}

.post-content {

}

.post-user {

}

.uplift-btn {
    padding: 0;
    border: none;
    font-size: 20px;
    color: lightslategrey;
}

.filled-btn {
    color: rgb(92, 185, 243);
}

.tags {

}